{% extends 'accounts/base.html' %}
{% load static %}


{% block content %}
<main class="main">
    <div class="login-page bg-image py-xl-6 py-lg-4 py-md-0" style="background-image: url('{% static 'assets/images/backgrounds/nexo-login-bg.jpg' %}')"
>
        <div class="container">
            <div class="form-box py-0 pt-1">
                <div class="form-tab">
                    <ul class="nav nav-pills nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="{% static '#register-2' %}" role="tab" aria-controls="register-2" aria-selected="true">Register</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        {% if messages %}
								<div class="alert alert-danger alert-dismissible fade show" role="alert" style="color: #d00000;background-color: #ffb5b5;border: 2px solid #e21d1d;margin-top: 1.2rem;width: 100%;border-radius: 9px;">
									{% for message in messages %}
								<strong class="text-center">{{message}}</strong>
									{% endfor %}
								<button type="button" class="close" data-dismiss="alert" aria-label="Close">
									<span aria-hidden="true" style="font-weight: 500;display: inline-block;line-height: 1;font-size: 2.2rem;color: black;">&times;</span>
								</button>
								</div>
								{% endif %}
                        <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                            <form method="post">
                              {% csrf_token %}
                              <div class="form-group">
                                <label for="name">Your Name</label>
                                <input type="text" class="form-control" name="name" placeholder="First Name and Last Name" required>
                                <span class="error-message" style="color: rgb(213, 53, 53); font-size: 12px;" id="name-error"></span>
                              </div>
                                <!-- End .form-group -->

                              <div class="form-group">
                                <label for="email">Email Address</label>
                                <input type="email" class="form-control" name="email" placeholder="Email address" required>
                                <span class="error-message" style="color: rgb(213, 53, 53); font-size: 12px;" id="email-error"></span>
                              </div>

                              <div class="form-group">
                                <label for="phone_number">Phone number</label>
                                <input type="number" class="form-control" name="phone_number" placeholder="Phone number" maxlength="10" required>
                                <span class="error-message" style="color: rgb(213, 53, 53); font-size: 12px;" id="phone_number-error"></span>
                              </div>
                                <!-- End .form-group -->

                              <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" name="password" placeholder="Password" required autocomplete="off" required>
                                <span class="error-message" style="color: rgb(213, 53, 53); font-size: 12px;" id="password-error"></span>
                              </div>
                                <!-- End .form-group -->

                              <div class="form-group">
                                <label for="confirm_password">Confirm Password</label>
                                <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required autocomplete="off" required>
                                <span class="error-message" style="color: rgb(213, 53, 53); font-size: 12px;" id="confirm_password-error"></span>
                              </div>
                                <!-- End .form-group -->

                              <div class="form-footer" style="border-bottom: none;">
                                <input type="submit" class="btn btn-outline-primary-2" value="SIGN UP">
                                  
                                </button>

                              </div>

                            </form>


                        </div><!-- .End .tab-pane -->
                    </div><!-- End .tab-content -->
                </div><!-- End .form-tab -->
            </div><!-- End .form-box -->
        </div><!-- End .container -->
    </div><!-- End .login-page section-bg -->
</main><!-- End .main -->

<script>
    // Get all the input fields
    const inputFields = document.querySelectorAll('.form-control');

    // Loop through each input field
    inputFields.forEach(input => {
        input.addEventListener('blur', () => {
            validateInput(input);
        });
    });

    function validateInput(input) {
        const fieldName = input.name;
        const errorSpan = document.getElementById(`${fieldName}-error`);
        errorSpan.textContent = '';

        switch (fieldName) {
            case 'name':
                if (!input.value.match(/^[A-Z][a-zA-Z]*(?: [A-Z][a-zA-Z]*)*$/)) {
                    errorSpan.textContent = '* Name should start with a capital letter.';
                }
                break;
            case 'email':
                if (!input.value.match(/^\w+@gmail\.com$/)) {
                    errorSpan.textContent = '* Enter valid email address';
                }
                break;
            case 'phone_number':
                if (!input.value.match(/^\d{10}$/)) {
                    errorSpan.textContent = '* Enter valid phone number';
                }
                break;
            case 'password':
                if (!input.value.match(/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/)) {
                    errorSpan.textContent = '* Password should need minimum 8 charecters and atleast one Uppercase, Lowercase, Number and special charecter';
                }       
                break;
            case 'confirm_password':
                const passwordInput = document.querySelector('input[name="password"]');
                if (input.value !== passwordInput.value) {
                    errorSpan.textContent = 'Passwords do not match';
                }
                break;
        }
    }
</script>

{% endblock %}
