{% extends 'custom_admin/base.html'%}
{% load static %}


{% block products-active %} active{% endblock %}


{% block dashboard %}

<div class="page-header">
    <h3 class="page-title">Products</h3>
    <div style="display: flex;">
        <form class="filter" method="post" style="display: flex; margin-right: 5rem;">
            {% csrf_token %}
            <div class="col-sm-12 d-flex">
                <label class="p-1">Filter</label>
                <select class="form-control text-white" name="category">
                    {% for category in category_data %}
                    <option class="text-white">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button class="btn-primary" style="border-radius: 5px;" type="submit">Apply</button>
        </form>
        <form class="wrap" method="post">
            {% csrf_token %}
            <div class="search" style="display: flex;">
                <input type="text" name="search" class="searchTerm" placeholder="  Search" style="border: 1px solid #ffffff; color: white; background: #ffffff00; margin-right: 1rem; border-radius: 4px;">
                <button type="submit" class="btn" style="background: #ec1071db; height: 36px;">
                    <i class="fa fa-search" style="font-size: 1.2rem;"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <p class="card-description">Edit and Add products</p>
            <span>
                <a class="btn btn-primary" data-toggle="modal" data-target="#addProductModal">Add Products</a>
            </span>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Delete</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for i in product_data %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.category }}</td>
                    <td>
                        <button type="button" class="btn btn-primary btn-icon-text" data-toggle="modal"
                                data-target="#exampleModalCenteredScrollable{{ i.id }}">
                            <i class="fa-solid fa-pen" style="color: #ffffff; font-size: 0.9rem; margin: 0;"></i>
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-danger btn-icon-text" data-toggle="modal"
                                data-target="#exampleModalCenter{{ i.id }}">
                            <i class="fa-solid fa-trash" style="color: #ffffff; font-size: 0.9rem; margin: 0;"></i>
                        </button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--Pagination-->
<nav aria-label="Page navigation example" style="display: flex; align-content: center; justify-content: center; padding: 1.5rem;">
    <ul class="pagination">
        {% if product_data.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_data.previous_page_number }}" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}

        {% for num in product_data.paginator.page_range %}
            <li class="page-item {% if num == product_data.number %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
            </li>
        {% endfor %}

        {% if product_data.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ product_data.next_page_number }}" aria-label="Next">
                    <span aria-hidden="true">»</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
</nav>



<!----------------------Edit Product Modal New----------------------------->
{% for i in product_data %}
<div id="exampleModalCenteredScrollable{{ i.id }}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-body" style="height: 100%; overflow-y: auto;">
                    <form method="post" enctype="multipart/form-data" class="forms-sample"
                          action="{% url 'edit_product' i.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">Product Name</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="name"
                                           placeholder="Name" value="{{i.name}}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Category</label>
                                    <select class="form-control text-white" id="exampleFormControlSelect2"
                                            name="category">
                                        {% for category in category_data %}
                                        <option style="text-white" value="{{ category.id }}" {% if category.id == i.category.id %}selected{% endif %}>{% if category.id == i.category.id %}{{ i.category.name }}{% else %}{{ category.name }}{% endif %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-info">Edit Variant</button>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Product Description</label>
                            <textarea class="form-control" id="exampleTextarea1" rows="4" name="description">{{i.description}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-dark" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}

<!----------------------Model for adding product NEW--------------------->
<div id="addProductModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="addProductModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-body" style="height: 100%; overflow-y: auto;">
                    <form method="post" class="forms-sample"
                          action="{% url 'add_product' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">Product Name</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="name"
                                           placeholder="Name" value="">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Category</label>
                                    <select class="form-control text-white" id="exampleFormControlSelect2"
                                            name="category">
                                        {% for category in category_data %}
                                        <option style="text-white" value="{{ category.id }}">{{ category.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Product Description</label>
                            <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-dark" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-----------------Modal for deleting Product------------------>
{% for i in product_data %}
<div id="exampleModalCenter{{i.id}}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenterTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Delete Product</h4>
                    <p class="card-description"> Do you want to delete the product
                    <div class="text-yellow">{{i.name}}{{i.id}}</div>
                    </p>
                    <form class="forms-sample">
                        <a type="submit" class="btn btn-danger mr-2" href="{% url 'delete_product' i.id %}">Delete</a>
                        <button class="btn btn-dark" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}




<!---------------------Edit Product Modal (OLD) ----------------------------->

{% for i in product_data %}
<div id="exampleModalCenteredScrollableTTTTTTT{{ i.id }}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-body" style="height: 100%; overflow-y: auto;">
                    <form method="post" enctype="multipart/form-data" class="forms-sample"
                          action="{% url 'edit_product' i.id %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">Product Name</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="name"
                                           placeholder="Name" value="{{i.name}}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Category</label>
                                    <select class="form-control text-white" id="exampleFormControlSelect2"
                                            name="category">
                                        {% for category in category_data %}
                                        <option style="text-white" value="{{ category.id }}" {% if category.id == i.category.id %}selected{% endif %}>{% if category.id == i.category.id %}{{ i.category.name }}{% else %}{{ category.name }}{% endif %}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputCity1">Price</label>
                                    <input type="text" class="form-control" id="exampleInputCity1" name="price"
                                           placeholder="Price" value="{{i.price}}">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputCity1">Stock</label>
                                    <input type="text" class="form-control" id="exampleInputCity1" name="stock"
                                           placeholder="Stock" value="{{i.stock}}">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Product Images</label>

                            <div class="input-group col-xs-12">
                                <input type="file" multiple class="form-control file-upload-info btn btn-primary"
                                       name="images" placeholder="Upload Image" id="name">
                            </div>
                            <div class="d-flex flex-wrap">
                                {% for image in i.images.all %}
                                <div style="background-color: #2A3038;" class="mt-4 col-md-3">
                                    <form action="{% url 'delete_image' image.id %}" method="POST"
                                          style="display: inline;">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-sm btn-outline-danger delete-image">
                                            <i class="fa-sharp fa-solid fa-xmark"
                                               style="color: #cf0c0c; font-size: 0.9rem; margin: 0;"></i>
                                        </button>
                                        <img class="mt-1" src="{{image.image.url}}" width="100" height="100">
                                    </form>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Product Description</label>
                            <textarea class="form-control" id="exampleTextarea1" rows="4" name="description">{{i.description}}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-dark" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}



<!---------------------Add Product Modal----------------------------->


<div id="exampleModalCenteredScrollable" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalCenteredScrollableTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="forms-sample"
                          action="{% url 'add_product' %}">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputName1">Product Name</label>
                                    <input type="text" class="form-control" id="exampleInputName1" name="name"
                                           placeholder="Name" ">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Category</label>
                                    <select class="form-control text-white" id="exampleFormControlSelect2"
                                            name="category">
                                        {% for category in category_data %}
                                        <option style="text-white" value="{{ category.id }}">{{ category.name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputCity1">Price</label>
                                    <input type="text" class="form-control" id="exampleInputCity1" name="price"
                                           placeholder="Price">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputCity1">Stock</label>
                                    <input type="text" class="form-control" id="exampleInputCity1" name="stock"
                                           placeholder="Stock">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Product Images</label>

                            <div class="input-group col-xs-12">
                                <input type="file" multiple class="form-control file-upload-info btn btn-primary"
                                       name="images" placeholder="Upload Image" id="id_image">
                            </div>
                                        <div style="background-color: #2A3038;" class="mt-4">
                                          <img src="{{i.image.url}}" width="100" height="100">
                                        </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleTextarea1">Product Description</label>
                            <textarea class="form-control" id="exampleTextarea1" rows="4" name="description"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                        <button class="btn btn-dark" data-dismiss="modal" aria-label="Close">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

