{% extends 'custom_admin/base.html' %}
{% load static %}
{% block coupons-active %} active{% endblock %}


{% block dashboard %}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between">
                <h4 class="card-title">Coupons</h4>
                <span>
                    <a class="btn btn-primary" href="{% url 'create_coupon' %}">Create coupons</a>
                </span>
            </div>
            <p class="card-description">Status
            </p>
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th></th>
                        <th>Amount</th>
                        <th>Min. Amount</th>
                        <th>To</th>
                        <th>Status</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for coupon in coupons %}
                    <tr>
                        <td class="text-white text-capitalize">{{coupon.code}}</td>
                        <td></td>
                        <td class="text-white">Rs.{{coupon.discount}}</td>
                        <td class="text-white">Rs.{{coupon.min_amount}}</td>
                        <td class="text-white">{{coupon.valid_to}}</td>
                        <td style="padding-top: 0.98rem;">
                            {% if coupon.is_active %}
                            <a type="button" class="btn btn-outline-danger btn-fw" href="{% url 'coupon_activate' coupon.id %}" style="min-width: 0;">Deactivate</a>
                            {% else %}
                            <a type="button" class="btn btn-outline-success btn-fw" href="{% url 'coupon_activate' coupon.id %}" style="min-width: 0;">Activate</a>
                            {% endif %}
                        </td>
                        <td>
                            <button type="button" class="btn btn-danger btn-icon-text" data-toggle="modal"
                                    data-target="#couponCreateModal{{ coupon.id }}">
                                <i class="fa-solid fa-pen" style="color: #ffffff; font-size: 0.9rem; margin: 0;"></i>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!---------------------Edit coupon Modal ----------------------------->

{% for coupon in coupons %}
<div id="couponCreateModal{{ coupon.id }}" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="couponCreateModalTitle" style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content" style="max-width: 60rem;">
            <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Create offer</h4>

                    <form class="forms-sample" method="post" action="{% url 'edit_coupon' coupon.id %}">
                      {% csrf_token %}
                      <div class="form-group">
                        <label for="exampleInputUsername1">Coupon code</label>
                        <input type="text" class="form-control" id="exampleInputUsername1" name="code" value="{{coupon.code}}" placeholder="Enter Coupon code" required="">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputEmail1">Discount</label>
                        <input type="number" class="form-control" id="exampleInputEmail1" name="discount" value="{{coupon.discount}}" placeholder="Discount Amount" required="">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputPassword1">Minimum Amount</label>
                        <input type="number" class="form-control" id="exampleInputPassword1" name="min_amount" value="{{coupon.min_amount}}" placeholder="Mininum Amount" required="">
                      </div>
                      <div class="form-group">
                        <label for="exampleInputConfirmPassword1">Valid To</label>
                        <input class="form-control" type="date" name="valid_to" value="{{coupon.valid_to}}" placeholder="End date" required="">
                      </div>
                      <button type="submit" class="btn btn-primary mr-2">Create</button>
                    </form>
                  </div>
                </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}