{% extends 'custom_admin/base.html' %}
{% load static %}



{% block dashboard %}

  <div class="col-md-6 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Reports</h4>

                      <form method="post"  class="forms-sample" action="{% url 'filter_reports' %}">
                        {% csrf_token %}
                        <div class="form-group">
                          <label >Options</label>
                          <select class="form-control text-white" name="selected_report">
                              <option value="sales">Sales</option>
                              <option value="orders">Orders</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label >From date</label>
                          <input class="form-control" type="date" name="start_date" placeholder="Start date" required="">
                        </div>
                        <div class="form-group">
                          <label>To date</label>
                          <input class="form-control" type="date" name="end_date" placeholder="Start date" required="">
                        </div>
                        <button type="submit" class="btn btn-primary mr-2">Create</button>
                      </form>
                    </div>
                  </div>
                </div>

{% endblock %}