{% extends 'pages/profile_base.html' %}
{% load static %}

{% block address_active %}active{% endblock %}
{% block profile %}
<div>
    <div class="col-lg-6">
        <a type="button" data-toggle="modal" data-target="#addAddressModal">
            <div class="card card-dashboard">
                <div class="card-body" style="padding-top: 24px;background-color: #33c9ff96;">
                    <h3 class="card-title">Add address &nbsp;&nbsp;<i class="fa-sharp fa-solid fa-address-card"
                                                                      style="color: #0a0a0a;"></i></h3>
                    <!-- End .card-title -->
                </div><!-- End .card-body -->
            </div><!-- End .card-dashboard -->
        </a>
    </div>

    <div class="row">

        {% for address in addresses %}
        <div class="col-lg-4">
            <div class="card card-dashboard">
                <div class="card-body">
                    <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                    <p>{{address.user.name}}<br>
                        {{address.address}},<br>
                        {{address.city}}, {{address.state}},<br>
                        {{address.zip_code}}, {{address.country}}<br>
                        {{address.user.phone_number}}<br>
                        {{address.user.email}}<br>
                        <a href="#" data-toggle="modal" data-target="#editAddressModal{{address.id}}">Edit <i class="icon-edit"></i></a>
                    </p>
                    <div class="d-flex">
                        <a href="{% url 'delete_address' address.id %}"><i class="fa-solid fa-trash" style="color: #c50202;"></i></a>
                        {% if address.default_address %}
                        <a href="#" class="font-weight-bold ml-3">Default</a>
                        {% else %}
                        <a href="{% url 'set_default_address' address.id %}" class="ml-3">Set as Default</a>
                        {% endif %}
                    </div>
                </div><!-- End .card-body -->
            </div><!-- End .card-dashboard -->
        </div><!-- End .col-lg-6 -->
        {% endfor %}

        {% if messages %}
        <ul class="messages alert alert-danger">
            {% for message in messages %}
            <li
                    {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}
            </li>
            {% endfor %}
        </ul>
        {% endif %}


        <!---Modal for Address Add-->
        <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
             aria-labelledby="addAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding: 30px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'add_address' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" id="addressInput"
                                       name="address" required>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" id="cityInput"
                                       name="city" required>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" id="stateInput"
                                       name="state" required>
                            </div>
                            <div class="form-group">
                                <label>Zip Code</label>
                                <input type="text" class="form-control" id="zipCodeInput"
                                       name="zip_code" required>
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" id="countryInput"
                                       name="country" value="India" required>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                       id="defaultAddressCheck" name="default_address">
                                <label class="form-check-label" for="defaultAddressCheck">Set
                                    as Default Address</label>
                            </div>
                            <input type="hidden" name="url" value="'profile_page'">
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!---End of Modal for Address add-->

        <!---Modal for Address edit-->
        {% for address in addresses %}
        <div class="modal fade" id="editAddressModal{{address.id}}" tabindex="-1" role="dialog"
             aria-labelledby="editAddressModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content" style="padding: 30px;">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAddressModalLabel">Edit Address</h5>
                        <button type="button" class="close" data-dismiss="modal"
                                aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'edit_address' address.id %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Address</label>
                                <input type="text" class="form-control" value="{{address.address}}" id="addressInput"
                                       name="address" required>
                            </div>
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" id="cityInput"
                                       name="city" value="{{address.city}}" required>
                            </div>
                            <div class="form-group">
                                <label>State</label>
                                <input type="text" class="form-control" id="stateInput"
                                       name="state" value="{{address.state}}" required>
                            </div>
                            <div class="form-group">
                                <label>Zip Code</label>
                                <input type="text" class="form-control" id="zipCodeInput"
                                       name="zip_code" value="{{address.zip_code}}" required>
                            </div>
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" id="countryInput"
                                       name="country" value="{{address.country}}" required>
                            </div>
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input"
                                        name="default_address" {% if address.default_address %}checked{% endif %}>
                                <label class="form-check-label" for="defaultAddressCheck">Set
                                    as Default Address</label>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary"
                                        data-dismiss="modal">Close
                                </button>
                                <button type="submit" class="btn btn-primary">Save changes
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!---End of Modal for Address edit-->


        <!-- End .col-lg-6 -->
    </div><!-- End .row -->
</div>

        <!--Pagination-->
        <nav aria-label="Page navigation example" style="display: flex; align-content: center; justify-content: center;">
            <ul class="pagination">
                {% if address_page.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ address_page.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">«</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                {% endif %}
        
                {% for num in address_page.paginator.page_range %}
                    <li class="page-item {% if num == address_page.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
        
                {% if address_page.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ address_page.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">»</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>


{% endblock %}