{% extends 'pages/base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}


<main class="main">
    {% include 'pages/page_header.html' with page_title="Shopping Cart" sub_title="Shop" %}

    <nav aria-label="breadcrumb" class="breadcrumb-nav">
        <div class="container">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'user_home' %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'product_list' %}">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shopping Cart</li>
            </ol>
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="cart">
            {% if cart %}
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <table class="table table-cart table-mobile">
                            <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th style="padding-left: 4rem;">Quantity</th>
                                <th style="width: 9.6rem;">Total</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for item in cart %}
                            <tr>
                                <td class="product-col">
                                    <div class="product">
                                        <figure class="product-media">
                                            <a href="#">
                                                <img src="{{item.variant.colour.colour_images.first.image.url}}"
                                                     alt="Product image">
                                            </a>
                                        </figure>

                                        <h3 class="product-title">
                                            <a href="#">{{item.variant.product.name}} {{item.variant.name}}  {{item.variant.colour.name}}</a>
                                        </h3><!-- End .product-title -->
                                    </div><!-- End .product -->
                                </td>
                                <td class="price-col">
                                    {% if item.variant.product.category.offers.first.is_valid and item.variant.product.category.offers.first.is_active %}
                                        <span class="new-price">Rs.{{item.variant.price}}</span>
                                    {% else %}
                                        Rs.{{item.variant.original_price}}
                                    {% endif %}
                                </td>
                                <td class="selector-col">
                                    <div class="counter d-flex">
                                        <span class="down" data-cart-id="{{ item.id }}">-</span>
                                        <input type="text" value="{{ item.quantity }}" data-max-stock="{{ item.variant.stock }}">
                                        <span class="up" data-cart-id="{{ item.id }}">+</span>

                                    </div>
                                </td>
                                <td class="total-col">
                                    {% if item.variant.product.category.offers.first.is_valid and item.variant.product.category.offers.first.is_active %}
                                        <span class="new-price">Rs.{{item.calculate_total_price}}</span>
                                    {% else %}
                                        Rs.{{item.calculate_total_price}}
                                    {% endif %}
                                </td>
                                <td class="remove-col">
                                    <a href="{% url 'delete_cart' item.id %}" class="btn-remove"><i class="icon-close"></i></a>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table><!-- End .table table-wishlist -->

                        <div class="cart-bottom" style="margin-bottom: 2rem;">
                            <div class="cart-discount">
                                <form method="post" action="apply_coupon">
                                    {% csrf_token %}
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="entered_coupon" required="" placeholder="coupon code">
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-primary-2" type="submit">
                                                <i class="icon-long-arrow-right"></i></button>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </form>
                            </div><!-- End .cart-discount -->
                            <strong style="position: absolute;right: 0;margin-top: 1rem;padding-right:1rem;">AVAILABLE COUPONS</strong>
                        </div><!-- End .cart-bottom -->

                        <!--Coupon tag for showing applied coupons -->
                        <div class="cart-bottom" style="margin-bottom: 2rem;display: flex;justify-content: space-between;position: relative;">
                        {% if cart.first.coupon %}
                        {% if cart.first.coupon.is_valid %}

                            <div class="cart-discount">
                                <div class="coupon-tag">
                                    <div class="input-group">
                                        <div class="coupon">{{cart.first.coupon.code}}  <span style="font-weight: 300;">coupon</span></div>
                                        <div class="input-group-append">
                                            <a href="{% url 'delete_cart_coupon' %}" class="btn btn-outline-danger" style="border: 1px solid #ba2020;border-radius: 4px;"><i class="fa-solid fa-xmark" style="color: #c21414;font-size: 2rem;"></i></a>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </div>
                            </div>

                        {% else %}

                            <div class="cart-discount">
                                <div class="coupon-tag">
                                    <div class="input-group">
                                        <div class="coupon-expired">{{cart.first.coupon.code}}  <span style="font-weight: 300;">coupon expired</span></div>
                                        <div class="input-group-append">
                                            <a href="{% url 'delete_cart_coupon' %}" class="btn btn-outline-danger" style="border: 1px solid #ba2020;border-radius: 4px;"><i class="fa-solid fa-xmark" style="color: #c21414;font-size: 2rem;"></i></a>
                                        </div><!-- .End .input-group-append -->
                                    </div><!-- End .input-group -->
                                </div>
                            </div>
                        {% endif %}
                        {% endif %}


                            <div class="col-xl-4 pr-0" style="right: 0;position: absolute;top: 0;">
                                {% for coupon in coupons %}
                                {% if coupon.is_valid and cart.first.coupon.code != coupon.code %}
                                <a style="display: flex;align-content: flex-end;">
                                    <button class="btn btn-outline-dark mb-1">{{coupon.code}} <i class="lni lni-ticket"></i></button>
                                </a>
                                {% endif %}
                                {% endfor %}
                            </div>


                        </div>






                        <!--Coupon messages-->
                        <div class="cart-bottom">
                            {% if messages %}
                                {% for message in messages %}
                                    {% if 'error' in message.tags %}
                                        <div class="alert alert-danger alert-dismissible fade show" role="alert" style="color: #d00000;background-color: #ffb5b5;border: 2px solid #e21d1d;margin-top: 1.2rem;width: 30%;border-radius: 9px;">
                                            <strong>{{ message }}</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" style="font-weight: 500;display: inline-block;line-height: 1;font-size: 2.2rem;color: black;">&times;</span>
                                            </button>
                                        </div>
                                    {% elif 'success' in message.tags %}
                                        <div class="alert alert-success alert-dismissible fade show" role="alert" style="color: #1ba301;background-color: #baffb5;border: 2px solid #049b00;margin-top: 1.2rem;width: 30%;border-radius: 9px;">
                                            <strong>{{ message }}</strong>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true" style="font-weight: 500;display: inline-block;line-height: 1;font-size: 2.2rem;color: black;">&times;</span>
                                            </button>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                        <!--End of coupon messages-->
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3">
                        <div class="summary summary-cart">
                            <h3 class="summary-title">Cart Total</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <tbody>
                                <tr class="summary-subtotal">
                                    <td>Subtotal:</td>
                                    <td style="width:10rem;font-weight: 700;">Rs. {{sub_total}}</td>
                                </tr><!-- End .summary-subtotal -->
                                <tr>
                                    <td></td>
                                    <td style="width: 100%;">
                                        <p style="color: #ef837b;font-weight: 500;">
                                            {% if cart.first.coupon and cart.first.coupon.is_valid %}
                                            Coupon Discount : Rs.{{cart.first.coupon.discount}}
                                            {% endif %}
                                            {% if savings != 0 and savings != None %}
                                            <br>
                                            Offer Discount : Rs.{{savings}}</p>
                                            {% endif %}
                                    </td>
                                </tr>
                                <tr class="summary-shipping">
                                    <td>Shipping:</td>
                                    <td>&nbsp;</td>
                                </tr>

                                <tr class="summary-shipping-row">
                                    <td>
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="free-shipping" name="shipping"
                                                   class="custom-control-input" checked>
                                            <label class="custom-control-label" for="free-shipping">Free
                                                Shipping</label>
                                        </div><!-- End .custom-control -->
                                    </td>
                                    <td>Rs. 0.00</td>
                                </tr><!-- End .summary-shipping-row -->
                                <tr class="summary-total">
                                    <td>Total:</td>
                                    {% if cart.first.coupon and cart.first.coupon.is_valid %}
                                    <td style="width:10rem;font-weight: 700;color: #ef837b;" >Rs. {{ sub_total|sub:cart.first.coupon.discount }}/-</td>
                                    {% else %}
                                    <td style="width:10rem;font-weight: 700;" >Rs. {{sub_total}}/-</td>
                                    {% endif %}
                                </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <a href="{% url 'checkout' %}" class="btn btn-outline-primary-2 btn-order btn-block">PROCEED TO
                                CHECKOUT</a>
                        </div><!-- End .summary -->

                        <a href="{% url 'user_home' %}"
                           class="btn btn-outline-dark-2 btn-block mb-3"><span>CONTINUE SHOPPING</span><i
                                class="icon-refresh"></i></a>
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
            {% else %}
            <div class="container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 40vh;">
                <div class="row">
                  <div class="col-md-12 text-center">
                    <img src="{% static 'assets/images/empty-cart.jpg' %}" class="img-fluid" alt="Responsive Image" style="max-width: 100%; max-height: 30vh;">
                    <h2 style="margin-top: 20px;">Your cart is empty</h2>
                  </div>
                </div>
              </div>
            {% endif %}
        </div><!-- End .cart -->
    </div><!-- End .page-content -->
</main>


{% endblock %}