{% extends 'pages/base.html' %}
{% load static %}
{% load mathfilters %}


{% block content %}

{% include 'pages/page_header.html' with page_title="Checkout" sub_title="" %}
<div class="page-content mt-2">
    <div class="checkout">
        <div class="container">
            <div class="checkout-discount">
                <!--                <form action="#">-->
                <!--                    <input type="text" class="form-control" required="" id="checkout-discount-input">-->
                <!--                    <label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>-->
                <!--                </form>-->
            </div><!-- End .checkout-discount -->

            <form method="post" id="order_form" action="{% url 'order_confirm' %}">
                {% csrf_token %}
                <div class="row">
                    <div class="col-lg-7">
                        <p style="margin-bottom: 18px;">Choose the address for the order</p>

                        <div class="row">
                            {% if addresses %}
                            {% for address in addresses %}
                            <div class="col-lg-6">
                                <div class="card card-dashboard">
                                    <div class="card-body">
                                        <h3 class="card-title">Billing Address</h3><!-- End .card-title -->

                                        <p>{{address.user.name}}<br>
                                            {{address.address}},<br>
                                            {{address.city}}, {{address.state}},<br>
                                            {{address.zip_code}}, {{address.country}}<br>
                                            {{address.user.phone_number}}<br>
                                            {{address.user.email}}<br>
                                            <a href="#">Edit <i class="icon-edit"></i></a>
                                        </p>
                                        <div class="form-check mt-2">
                                            <input class="form-check-input" type="radio" name="selected_address"
                                                   value="{{address.id}}" id="flexRadioDefault{{address.id}}" {% if address.default_address %} checked {% endif %}>
                                            <label class="form-check-label ml-2" for="flexRadioDefault{{address.id}}">Use
                                                this address</label>
                                        </div>
                                    </div><!-- End .card-body -->
                                </div><!-- End .card-dashboard -->
                            </div><!-- End .col-lg-6 -->
                            {% endfor %}
                            {% else %}
                            <a>
                                <div class="col-lg-6">
                                <div class="card card-dashboard">
                                    <div class="card-body">
                                        <h3>Add Address </h3>
                                    </div><!-- End .card-body -->
                                </div><!-- End .card-dashboard -->
                            </div>
                            </a><!-- End .col-lg-6 -->
                            {% endif %}


                        </div><!-- End .row -->

                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-5" style="">
                        <div class="summary" style="margin-top: 43px;">
                            <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                            <table class="table table-summary">
                                <thead>
                                <tr>
                                    <th>Product</th>
                                    <th>Quantity</th>
                                    <th>Total</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for product in products %}
                                <tr>
                                    <td><a href="#">{{product.variant.product.name}} {{product.variant.name}}</a></td>
                                    <td class="text-center">{{product.quantity}}</td>
                                    <td>{{product.total}}</td>
                                </tr>
                                {% endfor %}
                                <tr class="summary-subtotal">
                                    <td>Subtotal:</td>
                                    <td></td>
                                    <td>Rs.{{sub_total}}{% if products.first.coupon and products.first.coupon.is_valid%}<br><span style="color: #ef837b;">-{{products.first.coupon.discount}}{% endif %}</span></td>
                                </tr><!-- End .summary-subtotal -->
                                <tr>
                                    <td>Shipping:</td>
                                    <td></td>
                                    <td>Free shipping</td>
                                </tr>
                                <tr class="summary-total">
                                    <td>Total:</td>
                                    <td></td>
                                    <td>
                                        {% if products.first.coupon and products.first.coupon.is_valid %}
                                        <span style="color: #ef837b;">Rs.{{sub_total|sub:products.first.coupon.discount}}</span>
                                        {% else %}
                                        Rs.{{sub_total}}</td>
                                        {% endif %}
                                </tr><!-- End .summary-total -->
                                </tbody>
                            </table><!-- End .table table-summary -->

                            <div class="accordion-summary" id="accordion-payment">
                                <div class="card">
                                    <div class="card-header" id="heading-2">
                                        <h2 class="card-title">
                                            <a class="collapsed" onclick="redirectToOrderView('online_payment')" role="button" data-toggle="collapse" href="#collapse-2"
                                               aria-expanded="false" aria-controls="collapse-2">
                                                Online Payment
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="collapse-2" class="collapse" aria-labelledby="heading-2"
                                         data-parent="#accordion-payment">
                                        <div class="card-body">
                                            Make secure online payments at checkout by selecting your preferred payment method,
                                            such as credit card, debit card, or digital wallets.
                                        </div><!-- End .card-body -->
                                        <button id="rzp-button1" class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->

                                <div class="card">
                                    <div class="card-header" id="heading-3">
                                        <h2 class="card-title">
                                            <a class="collapsed" onclick="redirectToOrderView('cash_on_delivery')" role="button" data-toggle="collapse" href="#collapse-3"
                                               aria-expanded="false" aria-controls="collapse-3">
                                                Cash on delivery
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="collapse-3" class="collapse" aria-labelledby="heading-3"
                                         data-parent="#accordion-payment">
                                        <div class="card-body">Pay conveniently with cash when your order is delivered
                                            by selecting the 'Cash on Delivery' option at checkout.
                                        </div><!-- End .card-body -->
                                        <button class="btn btn-outline-primary-2 btn-order btn-block">
                                            <span class="btn-text">Place Order</span>
                                            <span class="btn-hover-text">Proceed to Checkout</span>
                                        </button>
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->


                            </div><!-- End .accordion -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->

                <input type="hidden" name="payment_method"  id="selected_payment"  value="">
            </form>
        </div><!-- End .container -->
    </div><!-- End .checkout -->
</div>


<!---Modal for Address Add-->
                            <div class="modal fade" id="addAddressModal" tabindex="-1" role="dialog"
                                 aria-labelledby="addAddressModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content" style="padding: 30px;">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="addAddressModalLabel">Add Address</h5>
                                            <button type="button" class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <form method="post" action="{% url 'add_address' %}">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label>Address</label>
                                                    <input type="text" class="form-control" id="addressInput"
                                                           name="address" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>City</label>
                                                    <input type="text" class="form-control" id="cityInput"
                                                           name="city" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>State</label>
                                                    <input type="text" class="form-control" id="stateInput"
                                                           name="state" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Zip Code</label>
                                                    <input type="text" class="form-control" id="zipCodeInput"
                                                           name="zip_code" required>
                                                </div>
                                                <div class="form-group">
                                                    <label>Country</label>
                                                    <input type="text" class="form-control" id="countryInput"
                                                           name="country" value="India" required>
                                                </div>
                                                <div class="form-check">
                                                    <input type="checkbox" class="form-check-input"
                                                           id="defaultAddressCheck" name="default_address">
                                                    <label class="form-check-label" for="defaultAddressCheck">Set
                                                        as Default Address</label>
                                                </div>
                                                <input type="hidden" name="'url'" value="'checkout'">
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Close
                                                    </button>
                                                    <button type="submit" class="btn btn-primary">Save changes
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>


<!--Function for passing payment choices when selecting options-->
<script>
    function redirectToOrderView(paymentMethod) {
        // Set the value of the hidden input field to the selected payment method
        document.getElementById('selected_payment').value = paymentMethod;
    }
</script>


<!--    razorpay-->
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<!--razorpay script-->
    <script>
    var options = {
        "key": "rzp_test_Pca6sif9v3F52s", // Enter the Key ID generated from the Dashboard
        "amount": "{{payment.amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Nexo Electronics",
        "description": "Product Purchase",
        "image": "https://example.com/your_logo",
        "order_id": "{{payment.id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response){
            const form = document.getElementById('order_form');
             // Submit the form
             form.submit();
        },
        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response){
            alert(response.error.code);
            alert(response.error.description);
            alert(response.error.source);
            alert(response.error.step);
            alert(response.error.reason);
            alert(response.error.metadata.order_id);
            alert(response.error.metadata.payment_id);
    });
    document.getElementById('rzp-button1').onclick = function(e){
        rzp1.open();
        e.preventDefault();
    }
    </script>

{% endblock %}