{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

<main class="main">
<!--                        breadcrumb-nav-->

<!--            <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">-->
<!--                <div class="container d-flex align-items-center">-->
<!--                    <ol class="breadcrumb">-->
<!--                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
<!--                        <li class="breadcrumb-item"><a href="#">Products</a></li>-->
<!--                        <li class="breadcrumb-item active" aria-current="page">Default</li>-->
<!--                    </ol>-->

<!--                    <nav class="product-pager ml-auto" aria-label="Product">-->
<!--                        <a class="product-pager-link product-pager-prev" href="#" aria-label="Previous" tabindex="-1">-->
<!--                            <i class="icon-angle-left"></i>-->
<!--                            <span>Prev</span>-->
<!--                        </a>-->

<!--                        <a class="product-pager-link product-pager-next" href="#" aria-label="Next" tabindex="-1">-->
<!--                            <span>Next</span>-->
<!--                            <i class="icon-angle-right"></i>-->
<!--                        </a>-->
<!--                    </nav>&lt;!&ndash; End .pager-nav &ndash;&gt;-->
<!--                </div>&lt;!&ndash; End .container &ndash;&gt;-->
<!--            </nav>&lt;!&ndash; End .breadcrumb-nav &ndash;&gt;-->


            <div class="page-content">
                <div class="container">
                    <div class="product-details-top">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="product-gallery product-gallery-vertical">
                                    <div class="row">
                                        <figure class="product-main-image">
                                            <img id="product-zoom" src="{{variant_images.first.image.url}}" data-zoom-image="{{variant.colour.colour_images.image.url}}" alt="product image">

                                            <a href="#" id="btn-product-gallery" class="btn-product-gallery">
                                                <i class="icon-arrows"></i>
                                            </a>
                                        </figure><!-- End .product-main-image -->

                                        <div id="product-zoom-gallery" class="product-image-gallery">

                                            {% for image in variant_images %}
                                            <a class="product-gallery-item {% if forloop.first %}active{% endif %}" href="#" data-image="{{ image.image.url }}" data-zoom-image="{{ image.image.url }}">
                                                <img src="{{ image.image.url }}" alt="product side">
                                            </a>
                                            {% endfor %}

                                        </div><!-- End .product-image-gallery -->
                                    </div><!-- End .row -->
                                </div><!-- End .product-gallery -->
                            </div><!-- End .col-md-6 -->

                            <div class="col-md-6">
                                <div class="product-details">
                                    <h1 class="product-title">{{variant.product.name}} - {{variant.name}}  ({{variant.colour.name}})</h1><!-- End .product-title -->

                                    <div class="ratings-container">
                                        <div class="ratings">
                                            <div class="ratings-val" style="width: {{variant.product_rating_percentage}}%;"></div><!-- End .ratings-val -->
                                        </div><!-- End .ratings -->
                                        <a class="ratings-text" href="#product-review-link" id="review-link">( {{variant.product_ratings_count}} Reviews )</a>
                                    </div><!-- End .rating-container -->

                                    <div class="product-price">
                                        {% if variant.product.category.offers.first.is_valid and variant.product.category.offers.first.is_active %}
                                            <span class="new-price">Rs.{{variant.price}}</span>
                                            <span class="old-price"><s>{{variant.original_price}}</s></span>
                                        {% else %}
                                            Rs. {{variant.original_price}}
                                        {% endif %}
                                    </div><!-- End .product-price -->

                                    <div class="details-filter-row details-row-size">
                                        <label>Color:</label>

                                        <div class="product-nav product-nav-dots">
                                          {% for colour in variant.product.colors.all %}
                                            {% with variant_id=colour.variant_colours.first.id %}
                                              <a href="{% url 'product_page' variant_id %}" class="active" style="background: {{colour.color_code}}">
                                                <span class="sr-only">Color name</span>
                                              </a>
                                            {% endwith %}
                                          {% endfor %}
                                        </div><!-- End .product-nav -->
                                    </div>

<!--                                    <div class="details-filter-row details-row-size">-->
<!--                                        <label for="size">Size:</label>-->
<!--                                        <div class="select-custom">-->
<!--                                            <select name="size" id="size" class="form-control">-->
<!--                                                {% for model in variant.colour.variant_colours.all %}-->
<!--                                                    {% with model_id=model.id %}-->
<!--                                                    <option value="{{ model_id }}">{{ model.name }}</option>-->
<!--                                                    {% endwith %}-->
<!--                                                {% endfor %}-->
<!--                                            </select>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="product-variant-details mb-2">
                                        <div class="col-md-8">

                                            <div class="row">
                                                <h6 style="margin-right: 1.5rem;">MODEL : </h6>
                                                <ul class="d-flex">
                                                    {% for model in variant.colour.variant_colours.all %}
                                                        {% with model_id=model.id %}
                                                        {% if model.is_deleted == False %}
                                                    <li style="margin-right: 1.5rem;">
                                                        <a href="{% url 'product_page' model_id %}" style="padding: 1.0rem;font-weight: 500;border: {% if model_id == variant.id %}1.8px solid #73daff96; background-color: #33c9ff96;{% else %}1.8px solid #c1c1c1;{% endif %}">
                                                            {{ model.name }}
                                                        </a>
                                                    </li>
                                                        {% endif %}
                                                        {% endwith %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% if variant.stock|length > 6 %}
                                    <div class="product-variant-details mb-2">
                                        <div class="col-md-8">
                                            <div class="row">
                                                <p style="margin-right: 0.5rem;font-weight: 400;color: #e03939;">Limited stocks : </p>
                                                <ul class="d-flex">
                                                    <li style="margin-right: 1.5rem;">
                                                        <p style="font-weight: 400;color: #e03939;">{{ variant.stock}} &nbsp;Hurry..!</p>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}


                                    <div class="product-details-action">
                                        {% if variant.stock == 0 %}
                                        <a href="#" class="btn-product" style="background: #ff5959;border-color: #ff5959;"><span style="color: white;font-size: 1.5rem;">Out of Stock</span></a>
                                        {% else %}
                                        <a href="#" class="btn-product btn-cart" id="add-to-cart-btn" data-variant-id="{{ variant.id }}"><span>Add to Cart</span></a>
                                        {% endif %}

                                        <div class="details-action-wrapper">
                                            <a href="#" class="btn-product btn-wishlist" id="wishlist-btn" data-product-id="{{ variant.id }}" title="Wishlist"><span>Add to Wishlist</span></a>

                                        </div><!-- End .details-action-wrapper -->
                                    </div><!-- End .product-details-action -->

                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <span>Category:</span>
                                            <a href="#">{{variant.product.category.name}}</a>,
                                        </div><!-- End .product-cat -->

<!--                                        <div class="social-icons social-icons-sm">-->
<!--                                            <span class="social-label">Share:</span>-->
<!--                                            <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>-->
<!--                                            <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>-->
<!--                                            <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>-->
<!--                                            <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>-->
<!--                                        </div>-->
                                    </div><!-- End .product-details-footer -->
                                    <div class="product-details-footer">
                                        <div class="product-cat">
                                            <div id="cart-notification"></div>
                                        </div>
                                    </div>
                                </div><!-- End .product-details -->
                            </div><!-- End .col-md-6 -->
                        </div><!-- End .row -->
                    </div><!-- End .product-details-top -->

                    <!--Add to wishlist pop up -->
                    <div class="popup-container">
                        <div class="popup" id="wishlistPopup">
                            Added to wishlist !
                        </div>
                    </div>
                    <!--End of add to wishlist pop up -->

                    <div class="product-details-tab">
                        <ul class="nav nav-pills justify-content-center" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping &amp; Returns</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews ({{review_count}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                                <div class="product-desc-content">
                                    <h3>Product Information</h3>
                                    <p>{{variant.product.description}}</p>



                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                                <div class="product-desc-content">
                                    <h3>Delivery &amp; returns</h3>
                                    <p>We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                    We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                </div><!-- End .product-desc-content -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                                <div class="reviews">
                                    <h3>Reviews ({{review_count}})</h3>
                                    {% for review in reviews %}
                                    <div class="review">
                                        <div class="row no-gutters">
                                            <div class="col-auto">
                                                <h4><a href="#">{{review.user.name}}</a></h4>
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 
                                                        {% if review.rating == 1%}20%
                                                        {% elif review.rating == 2%}40%
                                                        {% elif review.rating == 3%}60%
                                                        {% elif review.rating == 4%}80%
                                                        {% elif review.rating == 5%}100%
                                                        {% endif %};"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                </div><!-- End .rating-container -->
                                            </div><!-- End .col -->
                                            <div class="col">
                                                <div class="review-content">
                                                    <p>{{review.review}}</p>
                                                </div><!-- End .review-content -->
                                            </div><!-- End .col-auto -->
                                        </div><!-- End .row -->
                                    </div><!-- End .review -->
                                    {% endfor %}
                                    {% if user_product_purchase_status and not has_user_given_review %}
                                    <div class="review">
                                        <form class="row no-gutters" method="post" action="{% url 'add_review' variant.id %}">
                                            {% csrf_token %}
                                            <div class="col">
                                                <h4>Write a review </h4>
                                                <div class="review-content">
                                                    <textarea rows="3" name="review" style="width: 100%;border: 1px solid #98999b;"></textarea>
                                                </div><!-- End .review-content -->
                                                <div class="rating-box">
                                                    <header>How was your experience?</header>
                                                    <div class="stars">
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                        <i class="fa-solid fa-star"></i>
                                                    </div>
                                                </div>
                                                <input type="hidden" id="ratingInput" name="rating" value="">
                                                <button class="btn-primary" type="submit">Submit</button>
                                                <!-- End .review-action -->
                                            </div><!-- End .col-auto -->
                                        </form><!-- End .row -->
                                    </div>
                                    {% endif %}
                                </div><!-- End .reviews -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .product-details-tab -->



                    <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->

                    <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow owl-loaded owl-drag" data-toggle="owl" data-owl-options="{
                            &quot;nav&quot;: false,
                            &quot;dots&quot;: true,
                            &quot;margin&quot;: 20,
                            &quot;loop&quot;: false,
                            &quot;responsive&quot;: {
                                &quot;0&quot;: {
                                    &quot;items&quot;:1
                                },
                                &quot;480&quot;: {
                                    &quot;items&quot;:2
                                },
                                &quot;768&quot;: {
                                    &quot;items&quot;:3
                                },
                                &quot;992&quot;: {
                                    &quot;items&quot;:4
                                },
                                &quot;1200&quot;: {
                                    &quot;items&quot;:4,
                                    &quot;nav&quot;: true,
                                    &quot;dots&quot;: false
                                }
                            }
                        }">
                        <!-- End .product -->

                        <!-- End .product -->

                        <!-- End .product -->

                        <!-- End .product -->

                        <!-- End .product -->
                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1564px;">

                            {% for product in all_products %}
                            <div class="owl-item active" style="width: 292.8px; margin-right: 20px;">
                                <div class="product product-7 text-center">
                            <figure class="product-media">
                                <span class="product-label label-new">New</span>
                                <a href="{% url 'product_page' product.variants.first.id %}">
                                    <img src="{{product.images.first.image.url}}" alt="Product image" class="product-image">
                                </a>

                                <div class="product-action-vertical">
                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable" id="wishlist-btn" data-product-id="{{ product.variants.first.id }}"><span>add to wishlist</span></a>
                                </div><!-- End .product-action-vertical -->

                                <div class="product-action">
                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                </div><!-- End .product-action -->
                            </figure><!-- End .product-media -->

                            <div class="product-body">
                                <div class="product-cat">
                                    <a href="#">{{product.category.name}}</a>
                                </div><!-- End .product-cat -->
                                <h3 class="product-title">
                                    <a href="{% url 'product_page' product.variants.first.id %}">
                                        {{product.name}}<br>{{product.variants.first.name}}
                                    </a>
                                </h3>
                                <!-- End .product-title -->
                                <div class="product-price">
                                    {% if variant.product.category.offers.first.is_valid and variant.product.category.offers.first.is_active %}
                                            <span >Rs.{{variant.price}}</span>
                                            <span class="new-price" style="margin-left: 0.5rem;"><s>Rs.{{variant.original_price}}</s></span>
                                        {% else %}
                                            Rs. {{variant.original_price}}
                                        {% endif %}
                                </div>
                                <!-- End .product-price -->
                                <div class="ratings-container">
                                    <div class="ratings">
                                        <div class="ratings-val" style="width: {{product.variants.first.product_rating_percentage}}%;"></div><!-- End .ratings-val -->
                                    </div><!-- End .ratings -->
                                    <span class="ratings-text">( {{product.variants.first.product_ratings_count}} Reviews )</span>
                                </div>
                                <!-- End .rating-container -->


                                <!-- End .product-nav -->
                            </div><!-- End .product-body -->
                        </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                        <div class="owl-nav disabled">
                            <button type="button" role="presentation" class="owl-prev">
                                <i class="icon-angle-left"></i>
                            </button>
                            <button type="button" role="presentation" class="owl-next">
                                <i class="icon-angle-right"></i>
                            </button>
                        </div>
                        <div class="owl-dots">
                            <button role="button" class="owl-dot active">
                                <span></span>
                            </button>
                            <button role="button" class="owl-dot">
                                <span></span>
                            </button>
                        </div>
                    </div><!-- End .owl-carousel -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main>











    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{% static 'custom_js/add_to_cart.js' %}"></script>

    <!---Script for ratings star -->
    <script>
        const stars = document.querySelectorAll(".stars i");

    stars.forEach((star, index1) => {
    star.addEventListener("click", () => {
        stars.forEach((star, index2) => {
        index1 >= index2 ? star.classList.add("active") : star.classList.remove("active");
        });

        const selectedStars = document.querySelectorAll(".stars i.active").length;
        document.getElementById("ratingInput").value = selectedStars;
    });
    });
    </script> 

{% endblock %}