{% extends 'pages/base.html' %}
{% load static %}

{% block content %}



<main class="main">
        	{% include 'pages/page_header.html' with page_title="Products" sub_title="Shop" %}
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
                <div class="container">
                    <ol class="breadcrumb">



                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
                <div class="container">
                	<div class="row">
                		<div class="col-lg-9">
                			<div class="toolbox">
                				<div class="toolbox-left">
                					<div class="toolbox-info">
                						Showing <span>{{products.number}} of {{products.paginator.num_pages}}</span> Products
                					</div><!-- End .toolbox-info -->
                				</div><!-- End .toolbox-left -->

                				<div class="toolbox-right">
                					<div class="toolbox-sort">
                						<label for="sortby">Sort by:</label>
                						<div class="select-custom">
											<select name="sortby" id="sortby" class="form-control">
												<option value="newest" selected="selected">Newest Arrivals</option>
												<option value="low">Price: Low to High</option>
												<option value="high">Price: High to Low</option>
											</select>
										</div>
                					</div><!-- End .toolbox-sort -->
                					<!-- End .toolbox-layout -->
                				</div><!-- End .toolbox-right -->
                			</div><!-- End .toolbox -->

                            <div class="products mb-3 products-container">
                                <div class="row justify-content-center">
									{% for product in products %}
                                    <div class="col-6 col-md-4 col-lg-4 col-xl-3 product" data-category="{{ product.category.id }}" data-product="{{ product.name }}">
                                        <div class="product product-7 text-center">
                                            <figure class="product-media">
<!--                                                <span class="product-label label-new">New</span>-->
                                                <a href="#">
                                                    <img src="{{product.images.first.image.url}}" alt="Product image" class="product-image">
                                                </a>

                                                <div class="product-action-vertical">
                                                    <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>
                                                    <a href="popup/quickView.html" class="btn-product-icon btn-quickview" title="Quick view"><span>Quick view</span></a>
                                                </div><!-- End .product-action-vertical -->

                                                <div class="product-action">
                                                    <a href="#" class="btn-product btn-cart"><span>add to cart</span></a>
                                                </div><!-- End .product-action -->
                                            </figure><!-- End .product-media -->

                                            <div class="product-body">
                                                <div class="product-cat">
                                                    <a href="#">{{product.category.name}}</a>
                                                </div><!-- End .product-cat -->
                                                <h3 class="product-title"><a href="#">{{product.name}} {{product.colors.first.name}}</a></h3><!-- End .product-title -->
                                                <div class="product-price">
													{% if product.category.offers.first.is_valid and product.category.offers.first.is_active %}
													 <span >Rs.{{product.variants.first.price}}</span>
													 <span class="new-price" style="margin-left: 0.5rem;"><s>Rs.{{product.variants.first.original_price}}</s></span>
                                        			{% else %}
                                            			Rs.{{product.variants.first.price}}
                                        			{% endif %}

                                                </div><!-- End .product-price -->
                                                <div class="ratings-container">
                                                    <div class="ratings">
                                                        <div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
                                                    </div><!-- End .ratings -->
                                                    <span class="ratings-text">( 2 Reviews )</span>
                                                </div><!-- End .rating-container -->

                                                <!-- End .product-nav -->
                                            </div><!-- End .product-body -->
                                        </div><!-- End .product -->
                                    </div>
									<!-- End .col-sm-6 col-lg-4 col-xl-3 -->
									{% endfor %}

                                </div><!-- End .row -->
                            </div><!-- End .products -->


                			<nav aria-label="Page navigation">
								<ul class="pagination justify-content-center">
									{% if products.has_previous %}
									<li class="page-item">
										<a class="page-link page-link-prev" href="?page={{ products.previous_page_number }}" aria-label="Previous">
											<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
										</a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<a class="page-link page-link-prev" href="#" aria-label="Previous" tabindex="-1" aria-disabled="true">
											<span aria-hidden="true"><i class="icon-long-arrow-left"></i></span>Prev
										</a>
									</li>
									{% endif %}

									{% for num in products.paginator.page_range %}
									<li class="page-item {% if products.number == num %}active{% endif %}">
										<a class="page-link" href="?page={{ num }}">{{ num }}</a>
									</li>
									{% endfor %}

									{% if products.has_next %}
									<li class="page-item">
										<a class="page-link page-link-next" href="?page={{ products.next_page_number }}" aria-label="Next">
											Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
										</a>
									</li>
									{% else %}
									<li class="page-item disabled">
										<a class="page-link page-link-next" href="#" aria-label="Next" tabindex="-1" aria-disabled="true">
											Next <span aria-hidden="true"><i class="icon-long-arrow-right"></i></span>
										</a>
									</li>
									{% endif %}
								</ul>
							</nav>

                		</div><!-- End .col-lg-9 -->
                		<aside class="col-lg-3 order-lg-first">
                			<div class="sidebar sidebar-shop">
                				<div class="widget widget-clean">
                					<label>Filters:</label>
                					<a href="#" class="sidebar-filter-clear">Clean All</a>
                				</div><!-- End .widget widget-clean -->

                				<div class="widget widget-collapsible">
    								<h3 class="widget-title">
									    <a data-toggle="collapse" href="#widget-1" role="button" aria-expanded="true" aria-controls="widget-1">
									        Category
									    </a>
									</h3><!-- End .widget-title -->

									<div class="collapse show" id="widget-1">
										<div class="widget-body">
											<div class="filter-items filter-items-count">
												{% for category in categories %}
												<div class="filter-item">
													<div class="custom-control custom-checkbox">
														<input type="checkbox" class="custom-control-input category-checkbox" data-category-id="{{ category.id }}" name="categories[]" id="cat-{{ category.id }}" {% if category.id in cat_id %}checked{% endif %}>
														<label class="custom-control-label" for="cat-{{ category.id }}">{{ category.name }}</label>
													</div><!-- End .custom-checkbox -->
													<span class="item-count">{{ category.product_count }}</span>
												</div><!-- End .filter-item -->
												{% endfor %}
											</div><!-- End .filter-items -->
										</div><!-- End .widget-body -->
									</div>

        						</div>



        						<!-- End .widget -->




								<!-- End .widget -->
                			</div><!-- End .sidebar sidebar-shop -->
                		</aside><!-- End .col-lg-3 -->
                	</div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .page-content -->
        </main>


<script src="{% static 'assets/js/nouislider.min.js' %}"></script>
{% endblock %}

