{% extends 'pages/profile_base.html' %}
{% load static %}

{% block profile_active %} active{% endblock %}


{% block profile %}
<div>
    <p>Hello {% if user %}<span class="font-weight-normal text-dark">{{user.name}}</span>{% else %}(not <span
            class="font-weight-normal text-dark">User</span>? <a href="{% url 'user_login' %}">Log in</a>){% endif %}</p>
    <br>
    From your account dashboard you can view your <a href="{% url 'profile_orders' %}" class="">recent
    orders</a>, manage your <a href="{% url 'address' %}" >shipping and billing addresses</a>, and <a
        href="{% url 'account_details' %}" >edit your password and account details</a>.</p>



</div>

{% endblock %}